body{
	margin: 0;
	padding: 0;
	background: url("../ug.jpg");
	background-size: 100% 100%;
	background-attachment: fixed;
	font-family: sans-serif;
}
.loginBox{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 350px;
	height: 400px;
	padding: 80px 40px;
	box-sizing: border-box;
	background: rgb(0,0,0,.8);

}
.user{
	width: 90px;
	height: 100px;
	overflow: hidden;
	position: absolute;
	top: calc(-100px/2);
	left: calc(260px/2);

}

h2{
	margin: 0;
	padding: 0 0 30px;
	color: #efed40;
}
.loginBox p{
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #fff;

}
.loginBox input{
	width: 100%;
	margin-bottom: 20px;
}
.loginBox input[type="text"],
.loginBox input[type="password"]{
	border:none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
::placeholder;
{
	color: rgba(255,255,255,.5);
}
.loginBox input[type="submit"]{
	border:none;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
	background: #ef267e;
	cursor: pointer;
	border-radius: 20px;

}
.loginBox input[type="submit"]:hover
{
	background: #efed40;
	color: #262626;

}
.loginBox a
{
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}